@use 'sass:math';

@function rem($px) {
    @return ($px / 16) +rem;
}

@function vwRoot($px, $resolutiond: 2010) {
	$temp: #{math.div($px, $resolutiond) * 100};
	@return calc(var(--vw, 1vw) * $temp);
}

@function vw($px, $resolutiond: 1920) {
	$temp: #{math.div($px, $resolutiond) * 100};
	@return $temp +'vw';
}

@function vh($px, $resolutiond: 1080) {
	$temp: #{math.div($px, $resolutiond) * 100};
	@return $temp +'vh';
}

@function vh2($px, $resolutiond: 1024) {
	$temp: #{math.div($px, $resolutiond) * 100};
	@return $temp +'vh';
}


@function vw2($px, $resolutiond: 900) {
  $temp: #{math.div($px, $resolutiond) * 100};
  @return $temp +'vw';
}

@function vw3($px, $resolutiond: 393) {
  $temp: #{math.div($px, $resolutiond) * 100};
  @return $temp +'vw';
}
