extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Новость"
	- var sidebarActive = 1940
block head
	include ../../blocks/modules/header/header
block content
	.news-single
		.news.section.section--start.section--bg1
			.news__bg 
				img(src="img/news__bg--2.png", alt="")
			.container
				.news__top
					.news__title.title__44--md
						!="Нужна ли застройщику своя управляющая компания?"
					.news__subtitle
						.news__subtitle__text.text__14 статьи horwitz
						.news__subtitle__date.text__14 01/08/2023
				.news__line.line
				.news-single__item__wrap
					.news-single__item__picture
						img(src="img/control__picture.png", alt="")
					.article__autor
						.article__autor__picture 
							img(src="img/article__autor__picture.png", alt="")
						.article__autor__title Наталья Касаткина
						.article__autor__text управляющий партнер УК Horwitz
					.article
						.text__block
							h1
								!="Важно, что девелоперская деятельность — проектная, на коротких дистанциях. Управление же объектом — это долгосрочная работа, выходящая далеко за рамки  <span>гарантийного срока обслуживания.</span>"
							h2
								!="Важно, что девелоперская деятельность — проектная, на коротких дистанциях. Управление же объектом — это долгосрочная работа, выходящая далеко за рамки гарантийного срока обслуживания."
							h3
								!="Важно, что девелоперская деятельность — проектная, на коротких дистанциях. Управление же объектом — это долгосрочная работа, выходящая далеко за рамки гарантийного срока обслуживания."
							p
								!="Управление объектами недвижимости, в особенности если это современные, сложно наполненные, мультифункциональные объекты, это отдельный вид бизнеса, который, чтобы стать прибыльным, требует идеально отлаженных бизнес-процессов, понимание сервисности, постоянную работу с персоналом"
							p
								!="Если девелопер знает, как выстроить этот бизнес, понимает его специфику и все подводные камни, чувствует, что он «потянет» эту, на самом деле, очень непростую сферу деятельности, тогда ему стоит этим заниматься. Тем более, что в последнее время девелоперы осознали, что постпродажный клиентский сервис, который входит в управление жилыми объектами, это продолжение их продукта и фактически выполнение тех обещаний высокого качества жизни, которые девелопер давал при продаже."
							br
							br
							p 
								!=`Libero maxime perferendis sunt neque corrupti veniam, cum sed voluptate sequi. Error distinctio iusto fugiat nostrum itaque maiores qui? Officiis odio nesciunt fuga. Cumque voluptas minus sed aperiam, consequuntur impedit nam. Dolores veniam eius eum suscipit sit? Nisi possimus libero sapiente minus sed odio facere dolore eaque voluptas architecto, doloribus enim maiores harum, id minima ea cum atque accusantium aspernatur! Officiis nobis quod distinctio dignissimos sequi, officia mollitia quia assumenda voluptatum sapiente veniam aut. Numquam nesciunt suscipit nulla, blanditiis eligendi culpa laboriosam? Laboriosam deserunt omnis tempora facilis! Rem iure modi placeat nesciunt. Corporis iusto a, molestias incidunt aliquid repellat deleniti nobis, culpa aperiam non excepturi repudiandae, et id quidem nesciunt facilis sed ipsam ea beatae dolorem itaque modi cum. Impedit, ad debitis. Earum ducimus iusto rem maxime corrupti blanditiis nulla. Nihil et atque voluptates deleniti incidunt voluptate odio velit unde ullam, molestias quibusdam debitis delectus qui reiciendis iste ipsum consectetur. Dicta iusto explicabo nihil aliquid neque voluptatum. Beatae nihil dolorem reprehenderit sint sit a soluta itaque, maxime exercitationem voluptatibus non autem, corrupti recusandae officia voluptatem unde, excepturi ex deserunt quisquam illum deleniti praesentium natus. Optio nobis soluta amet ad, fugit dolorem autem aspernatur ut ea quae id, aperiam deserunt voluptatum est. Minima aliquam placeat iste quae aperiam incidunt similique id numquam molestias alias provident explicabo praesentium, enim optio modi dolorem impedit quis temporibus ex sit possimus nihil. Dolores voluptatum vel amet voluptas, tempore, sapiente aliquam unde veritatis, repellat eos officiis. Quasi, culpa temporibus! At autem magnam, excepturi et blanditiis itaque quaerat! Est facilis reiciendis officia ipsa, voluptates porro magnam dolor vitae illum impedit expedita temporibus, minus sed nisi veritatis quibusdam voluptas culpa recusandae error. Nisi, maxime non, a quam est consequuntur at, iusto aspernatur ab porro voluptatem! Itaque eos, officiis alias animi explicabo numquam nemo? Est nemo quaerat at laudantium hic autem ducimus tempora totam cumque perferendis, quibusdam dolorum, nam laboriosam reiciendis corrupti eius blanditiis fugit incidunt culpa. Numquam ipsa laboriosam rem officiis officia recusandae saepe delectus consectetur, non inventore. Molestias iure ratione, sequi temporibus nisi voluptatum minima. Quibusdam, beatae molestiae aliquid velit esse, fugit, ut a deleniti nobis accusantium ipsum. Tempore aliquam nisi reiciendis provident rem doloribus assumenda, deserunt hic alias illum sint dolores fugiat! Architecto hic, neque ipsa laudantium autem debitis. Voluptatem quo at animi debitis corporis provident molestias accusamus blanditiis magnam eveniet laudantium rerum, quis vitae voluptate obcaecati? Voluptate facilis accusantium ratione, culpa ipsa repellat quas sit illum quo nostrum, eveniet quia cupiditate vero reiciendis eos assumenda voluptatum commodi rem! Voluptatum suscipit rem obcaecati dolores fuga! Ipsam ad asperiores amet. Aliquid nemo assumenda impedit. Fugiat nihil eos veritatis, ipsam a esse placeat libero impedit ducimus velit eveniet! Vitae aspernatur debitis, commodi inventore mollitia id odit unde asperiores consectetur. Quaerat enim, voluptatem, non porro odio delectus quam in nihil dolore esse unde eius id quia rerum earum. Itaque possimus molestias perferendis error animi fugit minima eaque harum maxime voluptatum laudantium ut nulla quasi accusamus quis eius voluptate nihil ullam nam soluta tempora dolorem rerum, dolore deleniti. In tempora cum animi culpa iusto esse odio vel blanditiis accusantium tenetur quisquam consectetur, sapiente cumque aut earum nostrum consequuntur nihil, veniam totam ex repellat. Cum rerum in quas totam. Voluptas, repudiandae. Natus, reiciendis? Dicta ab ullam quis dolorum fugit, consequuntur fuga blanditiis repellendus adipisci laboriosam nesciunt? Dolorum, architecto nemo. Iste voluptate labore architecto consequuntur. Minima praesentium omnis suscipit? Quae, similique minus laboriosam nemo ipsa sint odio exercitationem, reprehenderit harum minima repellat rerum illo officiis earum. Cum dolor assumenda reiciendis laudantium voluptatibus, beatae rem cupiditate incidunt qui mollitia similique esse officiis amet, quod molestias harum! Hic libero odit unde enim minima deleniti nostrum provident temporibus placeat, explicabo aut tempora quas expedita accusantium. Laboriosam aperiam in reiciendis soluta. Dignissimos repudiandae, laboriosam pariatur repellat harum molestiae tempore. Iste temporibus odio, fuga ad ea quis itaque tempore porro quae illum velit quidem, nihil corrupti quibusdam quasi ipsum praesentium debitis. Odit libero voluptates sint velit optio quaerat atque esse voluptatum praesentium nesciunt, illo ea rem a earum cumque ad provident fugit delectus, quos consectetur aliquid numquam repudiandae laborum. Ad nesciunt doloribus ipsum officiis, animi eos laboriosam, nisi reprehenderit dolorum suscipit repudiandae temporibus et. Vero iure, molestias eveniet eum alias ipsum voluptatum dignissimos veniam, voluptatibus doloribus fugiat culpa odit, ipsam repudiandae minima voluptatem dolore a hic distinctio porro! Quidem unde maxime in rerum nam necessitatibus eaque excepturi voluptatibus praesentium recusandae voluptatum, natus minima aut quisquam libero quaerat alias reprehenderit aliquid laborum saepe adipisci nulla accusantium hic architecto. Nostrum quibusdam assumenda in sit accusamus quis dicta corporis repellendus sapiente facilis, odit quia tempore voluptas placeat libero at, eligendi fuga? Ea quae debitis soluta impedit. Et incidunt quod natus unde earum nihil dolore, aut veritatis, eum voluptatum suscipit maiores? Veritatis odio ullam voluptatem autem sed, nihil nam voluptas quos, sunt error rem explicabo eius in temporibus? Nihil quibusdam ipsa magni, cupiditate, beatae tempora illum consectetur nesciunt repellat pariatur suscipit. <a href="#">Lorem ipsum dolor sit amet consectetur</a> Deserunt debitis recusandae asperiores animi, cupiditate accusantium dolore fugiat autem tempora ratione consectetur possimus mollitia at aspernatur deleniti consequatur dignissimos maiores dolorum corporis non! Praesentium suscipit repudiandae quam ad saepe repellat tenetur molestiae, debitis quibusdam autem distinctio doloribus atque totam. Dicta, nobis voluptatem in corporis, incidunt cumque, quisquam quae fuga officia eveniet earum ut ducimus tenetur necessitatibus dolores architecto minus adipisci explicabo possimus delectus asperiores nihil a beatae sapiente! Maiores vel non id nemo sequi totam tempore suscipit rerum, natus labore, delectus necessitatibus dignissimos, est cupiditate optio accusantium quis voluptatem molestiae illum architecto nulla ipsum impedit earum? Iure aliquam odit, ipsam ab nulla, ipsa sint enim accusantium quibusdam adipisci esse in corporis veniam voluptatibus. Exercitationem temporibus unde quia iusto suscipit deserunt veniam! Provident cum magnam error aut tenetur recusandae tempore, iste deleniti reprehenderit ipsam, debitis voluptas rerum earum nisi perferendis. Laudantium facere esse vitae eaque soluta quidem. Maiores vero quidem rem expedita assumenda nam ut, voluptate sequi quis sapiente ex cum vitae quia. Ea quasi assumenda, dolorum placeat magnam expedita qui cumque possimus, voluptatum, delectus asperiores corrupti dolorem earum laudantium illo illum.`
							
							a(href="#")  работа в соответствии
							br
							ul
								li.text__14
									!="техническое обслуживание общедомового имущества и инженерных систем здания"
								li.text__14
									!="уборка помещений, паркинга и прилегающей территории"
								li.text__14
									!="текущий ремонт"
								li.text__14
									!="сопровождение работы с ресурсоснабжающими организациями"
								li.text__14
									!="организация службы работы с Собственниками"
							img(src="img/control__picture.png", alt="")
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minima aperiam distinctio cupiditate iste totam, inventore voluptate eum numquam ipsa alias laborum atque quisquam, delectus blanditiis amet dolorem dolore veritatis voluptatem corrupti rem. Vel eius, facere, debitis fugit, quam eveniet commodi hic esse quibusdam expedita ab nulla corrupti amet dolor repellendus. Ullam aliquid veritatis eaque consectetur assumenda voluptates recusandae exercitationem voluptate, eos id sunt aspernatur aperiam iusto, animi minus numquam optio. Earum doloremque ut quis odit et animi id soluta beatae voluptates maxime, reprehenderit ex laborum quisquam ea repellat libero ad excepturi. Quaerat repellendus, sequi deserunt illum neque, nulla dicta deleniti unde excepturi atque eius voluptatum. Sed soluta optio ullam, maxime vel rem aliquam nihil nesciunt aspernatur quo, in eaque nemo perspiciatis quam, magnam qui. Illum facere ad ab quam nostrum minima maxime, quo eveniet distinctio iusto illo harum odit quia quisquam vitae eius odio. Id magni accusantium modi. Ipsam eaque eveniet officia saepe ipsum. Esse voluptatem similique debitis facilis dignissimos aliquid tempore itaque adipisci fuga at. Alias praesentium eos cupiditate maiores minima explicabo, odio molestiae aut similique hic quod rem harum tempora. Unde fugiat culpa esse ex voluptatum pariatur, dicta minima velit amet accusantium excepturi animi! Minima, exercitationem eligendi.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minima aperiam distinctio cupiditate iste totam, inventore voluptate eum numquam ipsa alias laborum atque quisquam, delectus blanditiis amet dolorem dolore veritatis voluptatem corrupti rem. Vel eius, facere, debitis fugit, quam eveniet commodi hic esse quibusdam expedita ab nulla corrupti amet dolor repellendus. Ullam aliquid veritatis eaque consectetur assumenda voluptates recusandae exercitationem voluptate, eos id sunt aspernatur aperiam iusto, animi minus numquam optio. Earum doloremque ut quis odit et animi id soluta beatae voluptates maxime, reprehenderit ex laborum quisquam ea repellat libero ad excepturi. Quaerat repellendus, sequi deserunt illum neque, nulla dicta deleniti unde excepturi atque eius voluptatum. Sed soluta optio ullam, maxime vel rem aliquam nihil nesciunt aspernatur quo, in eaque nemo perspiciatis quam, magnam qui. Illum facere ad ab quam nostrum minima maxime, quo eveniet distinctio iusto illo harum odit quia quisquam vitae eius odio. Id magni accusantium modi. Ipsam eaque eveniet officia saepe ipsum. Esse voluptatem similique debitis facilis dignissimos aliquid tempore itaque adipisci fuga at. Alias praesentium eos cupiditate maiores minima explicabo, odio molestiae aut similique hic quod rem harum tempora. Unde fugiat culpa esse ex voluptatum pariatur, dicta minima velit amet accusantium excepturi animi! Minima, exercitationem eligendi.

		
		.news-recommended__wrap.section--last.section--bg1
			.container
				.news-recommended
					.news-recommended__num.num.text__16 /01
					.news-recommended__title.title__44--md
						!="Читать другие новости"
					.news-recommended__line.line
					.swiper-container.news-recommended__slider.js-news-recommended
						.swiper-wrapper
							.news-recommended__slide.swiper-slide
								a(href="#").news__item.news__item--big
									.news__item__picture 
										picture 
											source(media="(max-width: 992px)", srcset="img/news__item__picture__1.png")
											img(src="img/news__item__picture__1.png", alt="")
									.news__item__date.text__14 02/08/2023
									.news__item__title.text__16
										!="КОМПАНИЯ ХОВРИЦ  ПОЛУЧИЛА СТАТУС ГАРАНТИРУЮЩЕГО ПОСТАВЩИКА"
									.news__item__btn.btn
										!="узнать ПОДРОБНЕЕ"
										<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
										<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
										.btn__line
							.news-recommended__slide.swiper-slide
								a(href="#").news__item.news__item--big
									.news__item__picture 
										picture 
											source(media="(max-width: 992px)", srcset="img/news__item__picture__1.png")
											img(src="img/news__item__picture__1.png", alt="")
									.news__item__date.text__14 02/08/2023
									.news__item__title.text__16
										!="КОМПАНИЯ ХОВРИЦ  ПОЛУЧИЛА СТАТУС ГАРАНТИРУЮЩЕГО ПОСТАВЩИКА"
									.news__item__btn.btn
										!="узнать ПОДРОБНЕЕ"
										<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
										<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
										.btn__line
							.news-recommended__slide.swiper-slide
								a(href="#").news__item.news__item--big
									.news__item__picture 
										picture 
											source(media="(max-width: 992px)", srcset="img/news__item__picture__1.png")
											img(src="img/news__item__picture__1.png", alt="")
									.news__item__date.text__14 02/08/2023
									.news__item__title.text__16
										!="КОМПАНИЯ ХОВРИЦ  ПОЛУЧИЛА СТАТУС ГАРАНТИРУЮЩЕГО ПОСТАВЩИКА"
									.news__item__btn.btn
										!="узнать ПОДРОБНЕЕ"
										<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
										<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
										.btn__line
							.news-recommended__slide.swiper-slide
								a(href="#").news__item.news__item--big
									.news__item__picture 
										picture 
											source(media="(max-width: 992px)", srcset="img/news__item__picture__1.png")
											img(src="img/news__item__picture__1.png", alt="")
									.news__item__date.text__14 02/08/2023
									.news__item__title.text__16
										!="КОМПАНИЯ ХОВРИЦ  ПОЛУЧИЛА СТАТУС ГАРАНТИРУЮЩЕГО ПОСТАВЩИКА"
									.news__item__btn.btn
										!="узнать ПОДРОБНЕЕ"
										<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
										<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
										.btn__line
							.news-recommended__slide.swiper-slide
								a(href="#").news__item.news__item--big
									.news__item__picture 
										picture 
											source(media="(max-width: 992px)", srcset="img/news__item__picture__1.png")
											img(src="img/news__item__picture__1.png", alt="")
									.news__item__date.text__14 02/08/2023
									.news__item__title.text__16
										!="КОМПАНИЯ ХОВРИЦ  ПОЛУЧИЛА СТАТУС ГАРАНТИРУЮЩЕГО ПОСТАВЩИКА"
									.news__item__btn.btn
										!="узнать ПОДРОБНЕЕ"
										<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
										<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
										.btn__line
							.news-recommended__slide.swiper-slide
								a(href="#").news__item.news__item--big
									.news__item__picture 
										picture 
											source(media="(max-width: 992px)", srcset="img/news__item__picture__1.png")
											img(src="img/news__item__picture__1.png", alt="")
									.news__item__date.text__14 02/08/2023
									.news__item__title.text__16
										!="КОМПАНИЯ ХОВРИЦ  ПОЛУЧИЛА СТАТУС ГАРАНТИРУЮЩЕГО ПОСТАВЩИКА"
									.news__item__btn.btn
										!="узнать ПОДРОБНЕЕ"
										<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
										<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
										.btn__line
					
						.swiper-buttons
							.swiper-button-prev
								<svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.4447 9L0.954102 9L19.4447 9Z" fill="#0D0D0D"/>
								<path d="M19.4447 9L0.954102 9" stroke="#F8F5EF" stroke-width="1.05661" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M0.786133 8.89283L9.12578 1" stroke="#F8F5EF" stroke-width="1.05661" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							.swiper-button-next
								<svg width="21" height="10" viewBox="0 0 21 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.12755 9L19.6182 9L1.12755 9Z" fill="#0D0D0D"/>
								<path d="M1.12755 9L19.6182 9" stroke="#F8F5EF" stroke-width="1.05661" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M19.7861 8.89283L11.4465 1" stroke="#F8F5EF" stroke-width="1.05661" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
				
	include ../../blocks/modules/footer/footer
block scripts
	script
		| var nextPage = 'page2.html';
		| var nextPageBg = '#003F78';