extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Проекты"
block head
	include ../../blocks/modules/header/header
block content
	.projects-page__section.section.section--bg1
		.container
			.projects-page
				.projects-page__list__wrap
					.projects-page__list__line
						.projects-page__list__line__icon
							<svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.364 11.966L4.452 0.345999H5.698L1.61 11.966H0.364ZM4.53392 11.966L8.62192 0.345999H9.86792L5.77992 11.966H4.53392Z" fill="#F8F5EF" fill-opacity="0.4"/>
							</svg>
					.projects-page__list
							
						.projects-page__list__col
							.projects-page__list__bg
								img(src="img/row-projects-page__list__slider.png", alt="")
								
							.swiper-container.projects-page__list__slider.js-projects-page__list
								.swiper-wrapper
									.projects-page__list__slide.swiper-slide
										.projects-page__list__item
											.projects-page__list__item__num /01
											.projects-page__list__item__title.text__24 Бенилюкс
											
									.projects-page__list__slide.swiper-slide
										.projects-page__list__item
											.projects-page__list__item__num /02
											.projects-page__list__item__title.text__24 Тружеников переулок
											
									.projects-page__list__slide.swiper-slide
										.projects-page__list__item
											.projects-page__list__item__num /03
											.projects-page__list__item__title.text__24 Кинодом
											
									.projects-page__list__slide.swiper-slide
										.projects-page__list__item
											.projects-page__list__item__num /04
											.projects-page__list__item__title.text__24 БАЛТИЙСКАЯ 15
											
									.projects-page__list__slide.swiper-slide
										.projects-page__list__item
											.projects-page__list__item__num /05
											.projects-page__list__item__title.text__24 KAZAKOV GRAND LOFT
											
									.projects-page__list__slide.swiper-slide
										.projects-page__list__item
											.projects-page__list__item__num /06
											.projects-page__list__item__title.text__24 KLEIN HOUSE
									.projects-page__list__slide.swiper-slide
										.projects-page__list__item
											.projects-page__list__item__num /07
											.projects-page__list__item__title.text__24 Садовые кварталы
									.projects-page__list__slide.swiper-slide
										.projects-page__list__item
											.projects-page__list__item__num /08
											.projects-page__list__item__title.text__24 loftec
		
						.projects-page__list__col
							.projects-page__list-foto__slider__wrap
								.swiper-container.projects-page__list-foto__slider.js-projects-page__list-foto
									.swiper-wrapper
										.projects-page__list-foto__slide.swiper-slide
											.projects-page__item
												.projects-page__item__picture
													picture 
														source(media="(max-width: 992px)", srcset="img/news__item__picture__5.png")
														img(src="img/news__item__picture__5.png", alt="")
												
												.projects-page__item__bottom
													.projects-page__item__content
														.projects-page__item__territory.text__14 Территория: 3 100 м2
														.projects-page__item__square.text__14 Площадь объекта: 14 000 м2 
													a(href="projects-single.html"  data-img="../img/news__item__picture__1.png;../img/news__item__picture__2.png;../img/news__item__picture__1.png;").projects-page__item__btn.btn.js-project-preloader
														!="ПОДРОБНЕЕ"
														<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
														<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
														.btn__line 
										.projects-page__list-foto__slide.swiper-slide
											.projects-page__item
												.projects-page__item__picture
													picture 
														source(media="(max-width: 992px)", srcset="img/news__item__picture__2.png")
														img(src="img/news__item__picture__2.png", alt="")
												.projects-page__item__bottom
													.projects-page__item__content
														.projects-page__item__territory.text__14 Территория: 3 100 м2
														.projects-page__item__square.text__14 Площадь объекта: 14 000 м2 
													a(href="projects-single.html"  data-img="../img/news__item__picture__5.png;../img/contacts-main__content__picture.png;../img/control__picture.png;").projects-page__item__btn.btn.js-project-preloader
														!="ПОДРОБНЕЕ"
														<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
														<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
														.btn__line 
										.projects-page__list-foto__slide.swiper-slide
											.projects-page__item
												.projects-page__item__picture
													picture 
														source(media="(max-width: 992px)", srcset="img/news__item__picture__5.png")
														img(src="img/news__item__picture__5.png", alt="")
												
												.projects-page__item__bottom
													.projects-page__item__content
														.projects-page__item__territory.text__14 Территория: 3 100 м2
														.projects-page__item__square.text__14 Площадь объекта: 14 000 м2 
													a(href="projects-single.html"  data-img="../img/news__item__picture__1.png;../img/news__item__picture__2.png;../img/news__item__picture__1.png;").projects-page__item__btn.btn.js-project-preloader
														!="ПОДРОБНЕЕ"
														<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
														<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
														.btn__line 
										.projects-page__list-foto__slide.swiper-slide
											.projects-page__item
												.projects-page__item__picture
													picture 
														source(media="(max-width: 992px)", srcset="img/news__item__picture__2.png")
														img(src="img/news__item__picture__2.png", alt="")
												.projects-page__item__bottom
													.projects-page__item__content
														.projects-page__item__territory.text__14 Территория: 3 100 м2
														.projects-page__item__square.text__14 Площадь объекта: 14 000 м2 
													a(href="projects-single.html"  data-img="../img/news__item__picture__5.png;../img/contacts-main__content__picture.png;../img/control__picture.png;").projects-page__item__btn.btn.js-project-preloader
														!="ПОДРОБНЕЕ"
														<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
														<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
														.btn__line 
										.projects-page__list-foto__slide.swiper-slide
											.projects-page__item
												.projects-page__item__picture
													picture 
														source(media="(max-width: 992px)", srcset="img/news__item__picture__5.png")
														img(src="img/news__item__picture__5.png", alt="")
												
												.projects-page__item__bottom
													.projects-page__item__content
														.projects-page__item__territory.text__14 Территория: 3 100 м2
														.projects-page__item__square.text__14 Площадь объекта: 14 000 м2 
													a(href="projects-single.html"  data-img="../img/news__item__picture__1.png;../img/news__item__picture__2.png;../img/news__item__picture__1.png;").projects-page__item__btn.btn.js-project-preloader
														!="ПОДРОБНЕЕ"
														<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
														<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
														.btn__line 
										.projects-page__list-foto__slide.swiper-slide
											.projects-page__item
												.projects-page__item__picture
													picture 
														source(media="(max-width: 992px)", srcset="img/news__item__picture__2.png")
														img(src="img/news__item__picture__2.png", alt="")
												.projects-page__item__bottom
													.projects-page__item__content
														.projects-page__item__territory.text__14 Территория: 3 100 м2
														.projects-page__item__square.text__14 Площадь объекта: 14 000 м2 
													a(href="projects-single.html"  data-img="../img/news__item__picture__5.png;../img/contacts-main__content__picture.png;../img/control__picture.png;").projects-page__item__btn.btn.js-project-preloader
														!="ПОДРОБНЕЕ"
														<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
														<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
														.btn__line 
										.projects-page__list-foto__slide.swiper-slide
											.projects-page__item
												.projects-page__item__picture
													picture 
														source(media="(max-width: 992px)", srcset="img/news__item__picture__5.png")
														img(src="img/news__item__picture__5.png", alt="")
												
												.projects-page__item__bottom
													.projects-page__item__content
														.projects-page__item__territory.text__14 Территория: 3 100 м2
														.projects-page__item__square.text__14 Площадь объекта: 14 000 м2 
													a(href="projects-single.html"  data-img="../img/news__item__picture__1.png;../img/news__item__picture__2.png;../img/news__item__picture__1.png;").projects-page__item__btn.btn.js-project-preloader
														!="ПОДРОБНЕЕ"
														<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
														<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
														.btn__line 
										.projects-page__list-foto__slide.swiper-slide
											.projects-page__item
												.projects-page__item__picture
													picture 
														source(media="(max-width: 992px)", srcset="img/news__item__picture__2.png")
														img(src="img/news__item__picture__2.png", alt="")
												.projects-page__item__bottom
													.projects-page__item__content
														.projects-page__item__territory.text__14 Территория: 3 100 м2
														.projects-page__item__square.text__14 Площадь объекта: 14 000 м2 
													a(href="projects-single.html"  data-img="../img/news__item__picture__5.png;../img/contacts-main__content__picture.png;../img/control__picture.png;").projects-page__item__btn.btn.js-project-preloader
														!="ПОДРОБНЕЕ"
														<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M1.00003 5.78223L10.5713 5.78223L1.00003 5.78223Z" fill="#0D0D0D"/>
														<path d="M1.00003 5.78223L10.5713 5.78223" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M10.6592 5.7208L6.34235 1.2168" stroke="#F8F5EF" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
														.btn__line 


				.general-form
					.general-form__top
						.general-form__num.num.text__16 /01
						.general-form__title.title__44--md
							!="пОЛУЧИТЬ КОНСУЛЬТАЦИЮ"
					.general-form__line.line
					.general-form__content
						.general-form__content__col
							.general-form__subtitle.text__14 
								!="Заполните короткую форму, и наш менеджер свяжется с вами в ближайшее время"
						.general-form__content__col
							form.contacts__form.contacts__form--white 
								.contacts__form__input-block.contacts__form__input-block--name.error
									.contacts__form__input-block__subname.text__16 Ваше имя
									input(type="text", name="").contacts__form__input.text__14
									.contacts__form__input-block__name.text__14 Ваше имя
									.contacts__form__input-block__error Неправильное имя
								.contacts__form__input-block
									.contacts__form__input-block__subname.text__16 Email
									input(type="email", name="").contacts__form__input.text__14
									.contacts__form__input-block__name.text__14 Email
									.contacts__form__input-block__error Неправильное email
								//- input(type="tel", name="" placeholder="Телефон").contacts__form__input.js-mask-phone
								//- .contacts__form__input-block
								//- 	textarea(name="" ).contacts__form__textarea.text__14
								//- 	.contacts__form__input-block__name.text__14 Комментарий
								//- 	.contacts__form__input-block__error Неправильное cообщение
								.contacts__form__input-block
									.contacts__form__input-block__subname.text__16 Комментарий
									input(type="text", name="").contacts__form__input.text__14
									.contacts__form__input-block__name.text__14 Комментарий
									.contacts__form__input-block__error Неправильное cообщение
								.contacts__form__bottom
									a.contacts__form__btn.header__btn.header__btn.btn(href="") 
										!="Получить консультацию"
										<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.49637 16.9638C1.47493 16.9863 1.44547 16.9993 1.41446 17C1.38344 17.0007 1.35341 16.989 1.33099 16.9676L1.20412 16.8464C1.18169 16.8249 1.1687 16.7955 1.168 16.7645C1.1673 16.7334 1.17895 16.7034 1.20038 16.681L16.1509 1.03616C16.1723 1.01373 16.2018 1.00073 16.2328 1.00003C16.2638 0.999326 16.2939 1.01097 16.3163 1.0324L16.4431 1.15362C16.4656 1.17506 16.4786 1.20453 16.4793 1.23554C16.48 1.26656 16.4683 1.29658 16.4469 1.319L1.49637 16.9638Z" fill="#F8F5EF" fill-opacity="0.5" stroke="#F8F5EF" stroke-opacity="0.8" stroke-width="0.5" stroke-miterlimit="16"/>
										<path d="M2.53103 10.2134C2.49593 10.25 2.44773 10.2711 2.39703 10.2722C2.34633 10.2733 2.29729 10.2541 2.26069 10.219L2.25419 10.2128C2.23606 10.1955 2.22154 10.1747 2.21145 10.1517C2.20135 10.1287 2.19588 10.1039 2.19535 10.0788C2.19483 10.0537 2.19925 10.0288 2.20838 10.0054C2.2175 9.98196 2.23114 9.96059 2.24852 9.94247L10.4754 1.36354C10.5105 1.32694 10.5587 1.30579 10.6094 1.30473C10.6601 1.30367 10.7092 1.32279 10.7458 1.35789L10.7523 1.3641C10.7704 1.38148 10.7849 1.40226 10.795 1.42525C10.8051 1.44825 10.8106 1.473 10.8111 1.4981C10.8116 1.52321 10.8072 1.54817 10.7981 1.57157C10.789 1.59497 10.7753 1.61634 10.7579 1.63446L2.53103 10.2134Z" fill="#F8F5EF" fill-opacity="0.5" stroke="#F8F5EF" stroke-opacity="0.8" stroke-width="0.5"/>
										<path d="M1.37326 5.53531C1.35397 5.55528 1.33094 5.57126 1.30547 5.58234C1.28001 5.59341 1.25261 5.59936 1.22484 5.59985C1.19708 5.60033 1.16949 5.59534 1.14365 5.58516C1.11782 5.57499 1.09424 5.55982 1.07426 5.54053L1.06457 5.53117C1.04459 5.51188 1.02861 5.48885 1.01754 5.46338C1.00646 5.43792 1.00052 5.41051 1.00003 5.38275C0.999548 5.35498 1.00453 5.3274 1.01471 5.30156C1.02489 5.27572 1.04006 5.25214 1.05935 5.23217L4.12205 2.06066C4.14134 2.04069 4.16438 2.0247 4.18984 2.01363C4.21531 2.00256 4.2427 1.99661 4.27047 1.99613C4.29823 1.99564 4.32582 2.00063 4.35166 2.01081C4.3775 2.02099 4.40107 2.03615 4.42105 2.05544L4.43075 2.0648C4.45072 2.08409 4.4667 2.10713 4.47777 2.13259C4.48885 2.15806 4.4948 2.18545 4.49528 2.21322C4.49577 2.24098 4.49078 2.26857 4.4806 2.29441C4.47042 2.32024 4.45525 2.34382 4.43596 2.3638L1.37326 5.53531Z" fill="#F8F5EF" fill-opacity="0.5" stroke="#F8F5EF" stroke-opacity="0.8" stroke-width="0.5"/>
										</svg>
										.btn__line
									//- .contacts__form__mess.text__16
									//- 	!='Нажатием на кнопку "Отправить" я даю согласие на обработку моих персональных данных.'
										
										//- <div class="checkbox">
										//- 	<input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
										//- 	<label for="color-1">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</label>
										//- </div>
				.project-preloader
					.project-preloader__picture.project-preloader__picture__1(style="background-image: url(../img/news__item__picture__5.webp)")
					.project-preloader__picture.project-preloader__picture__2(style="background-image: url(../img/news__item__picture__1.webp)")
					.project-preloader__picture.project-preloader__picture__3(style="background-image: url(../img/news__item__picture__2.webp)")
		.container
			.projects-page-foto__picture
				picture 
					source(media="(max-width: 992px)", srcset="img/services-single-foto__picture.png")
					img(src="img/services-single-foto__picture.png", alt="")
	include ../../blocks/modules/footer/footer
block scripts
