extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Текстовая страница"
block head
	include ../../blocks/modules/header/header
block content
	.text-page__section.section.section--start.section--bg2
		.container
			.text__block
				h1
					!="Заголовок h1 <span>выделено</span>"
				h2
					!="Заголовок h2"
				h3
					!="Заголовок h3"
				p
					!="работа в соответствии со стандартами качества"
				p
					!="работа в соответствии со стандартами качества"
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minima aperiam distinctio cupiditate iste totam, inventore voluptate eum numquam ipsa alias laborum atque quisquam, delectus blanditiis amet dolorem dolore veritatis voluptatem corrupti rem. Vel eius, facere, debitis fugit, quam eveniet commodi hic esse quibusdam expedita ab nulla corrupti amet dolor repellendus. Ullam aliquid veritatis eaque consectetur assumenda voluptates recusandae exercitationem voluptate, eos id sunt aspernatur aperiam iusto, animi minus numquam optio. Earum doloremque ut quis odit et animi id soluta beatae voluptates maxime, reprehenderit ex laborum quisquam ea repellat libero ad excepturi. Quaerat repellendus, sequi deserunt illum neque, nulla dicta deleniti unde excepturi atque eius voluptatum. Sed soluta optio ullam, maxime vel rem aliquam nihil nesciunt aspernatur quo, in eaque nemo perspiciatis quam, magnam qui. Illum facere ad ab quam nostrum minima maxime, quo eveniet distinctio iusto illo harum odit quia quisquam vitae eius odio. Id magni accusantium modi. Ipsam eaque eveniet officia saepe ipsum. Esse voluptatem similique debitis facilis dignissimos aliquid tempore itaque adipisci fuga at. Alias praesentium eos cupiditate maiores minima explicabo, odio molestiae aut similique hic quod rem harum tempora. Unde fugiat culpa esse ex voluptatum pariatur, dicta minima velit amet accusantium excepturi animi! Minima, exercitationem eligendi.
	include ../../blocks/modules/footer/footer
block scripts
	script
		| var nextPage = 'page2.html';
		| var nextPageBg = '#003F78';
