.news-single {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column nowrap;
	width: 100%;
	overflow: hidden;
	.news {
		position: relative;
		top: auto;
		left: auto;
		right:auto;
		padding-bottom: vw(160);
		@include max(md) {
			padding-bottom: vw2(150);
		}
		@include max(sm) {
			padding-bottom: vw3(110);
		}
		&__title {
			max-width: vw(883);
			align-self: flex-start;
			@include max(md) {
				max-width: vw2(663);
			}
			@include max(sm) {
				max-width: 100%;
			}
		}
		&__top {
			justify-content: space-between;
		}
		&__subtitle {
			position: relative;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-flow: column nowrap;
			@include max(md) {
				display: none;
			}
			&__text {
				color: rgba(248, 245, 239, 0.6);
				margin-bottom: vw(5);
			}
			&__date {
				color: rgba(248, 245, 239, 0.6);
			}
		}
		&__bg {
			position: absolute;
			bottom: auto;
			top: vw(100);
			right: vw(-300);
			width: vw(978);
			height: vw(763);
			transform: rotate(-0deg);
			@include max(md){
				top: vw2(0);
				right: vw2(-300);
				width: vw2(978);
				height: vw2(763);
			}
			@include max(sm){
				top: vw3(-100);
				right: vw3(-130);
				width: 130vw;
				height: auto;
			}
			img {
				position: relative;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: bottom center;
			}
		}
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		max-width: vw(1087);
		margin-bottom: vw(80);
		&__wrap {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-end;
			margin-bottom: vw(270);
			@include max(md) {
				flex-flow: column nowrap;
				max-width: 100%;
				margin-bottom: vw2(150);
			}
			@include max(sm) {
				max-width: 100%;
				margin-bottom: vw3(110);
			}
		}
		@include max(md) {
			flex-flow: column nowrap;
			max-width: vw2(653);
			margin-bottom: vw2(50);
		}
		@include max(sm) {
			max-width: vw3(316);
			margin-bottom: vw3(30);
		}
		&__col {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			width: 50%;
			@include max(md) {
				width: 100%;
			}
			&:nth-child(1) {
				padding-right: vw(36);
				@include max(md) {
					padding-right: 0;
					margin-bottom: vw2(30);
				}
				@include max(sm) {
					padding-right: 0;
					margin-bottom: vw3(15);
				}
			}
			&:nth-child(2) {
				padding-left: vw(20);
				@include max(md) {
					padding-left: 0;
				}
				@include max(sm) {
				}
			}
		}
		&__text {
				color: rgba(248, 245, 239, 0.8);
		}
		&__picture  {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			height: 100%;
			border-radius: vw(5);
			overflow: hidden;
			margin-bottom: vw(80);
			@include max(md) {
				margin-bottom: vw2(50);
			}
			@include max(sm) {
				margin-bottom: vw3(30);
			}
			&::before {
					position: relative;
					content: "";
					width: 100%;
					padding-top: 63.9%;
					@include max(sm) {
						padding-top: 85.34%;
					}
			}
			picture, img {
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					// width: 100%;
			}
		}

	}


}