.projects-single {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-flow: column nowrap;
	width: 100%;
	margin-bottom: vw(350);
	@include max(md) {
		margin-bottom: vw2(200);
		flex-flow: column nowrap;
	}
	@include max(sm) {
		margin-bottom: vw3(140);
	}
	&__section {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		width: 100%;
		overflow: hidden;
		padding-top: vw(167);
		@include max(md) {
			padding-top: vw2(90);
		}
		@include max(sm) {
			padding-top: vw3(50);
		}
	}
	&__col {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		&:nth-child(1) {
			width: vw(532);
			padding-right: vw(40);
			@include max(md) {
				display: none;
			}
		}
		&:nth-child(2) {
			justify-content: flex-end;
			align-items: flex-end;
			width: calc(100% - vw(532));
			@include max(md) {
				width: 100%;
			}
		}
	}
	&__list {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		width: 100%;
		margin-bottom: vw(353);
		@include max(md) {
			flex-flow: column nowrap;
		}
		&__bg {
			position: absolute;
			top: calc(15.3% - 0px);
			left: vw(-60);
			display: block;
			width: vw(50);
			@include max(md) {
				top: calc(-7.2% - 0px);
				left: vw2(-20);
				display: block;
				width: vw2(40);
			}
			@include max(sm) {
				top: calc(-1% - 0px);
				left: vw3(-10);
				display: block;
				width: vw3(30);
			}
			img {
				position: relative;
				display: block;
				width: 100%;
				object-fit: contain;
				object-position: center center;
			}
		}
		&__col {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			@include max(md) {
				flex-flow: column nowrap;
			}
			&:nth-child(1) {
				width: vw(493);
				align-items: center;

				@include max(md) {
					width: calc(100% + vw2(30));
					margin-bottom: vw2(70);
				}
				@include max(sm) {
					width: calc(100% + vw3(10));
					margin-bottom: vw3(50);
				}
			}
			&:nth-child(2) {
				width: calc(100% - vw(493));
				padding-left: vw(40);
				@include max(md) {
					min-height: auto;
					width: 100%;
					padding-left: 0;
				}

			}
		}
		
	}
	&__list-foto {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		&__slider {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			height: vw(718);
			overflow: hidden;
			@include max(md) {
				width: 100% !important;
				height: vw2(600);
				padding: vw(0);
				left: 0;
			}
			@include max(sm) {
				height: vw3(295);
			}
			&__wrap {
				width: 100%;
				height: 100%;
				padding: vw(0);
				left: 0;
				
				@include max(md) {
					width: 100%;
					height: 100%;
					padding: vw(0);
					left: 0;
				}
			}

			.swiper-buttons {
				position: absolute;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: vw(50);
				width: 100%;
				max-width: vw(100);
				top: vw(0);
				right: vw(0);
				left: auto;
				overflow: visible;
				z-index: 15;
				@include max(md) {
						height: vw2(50);
						width: 100%;
						max-width: vw2(60);
						top: vw2(00);
						right: vw2(0);
				}
				@include max(sm) {
					max-width: vw3(50);
					bottom: vw3(-15);
					right: vw3(10);
					display: none;
				}
				.swiper-button-prev,.swiper-button-next {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
						width: vw(50);
						height: vw(50);
						min-width: vw(50);
						min-height: vw(50);
						border-radius: vw(14);
						top: 0;
						@include max(md) {
								width: vw2(20);
								min-width: vw2(20);         
						}
						@include max(sm) {
							width: vw3(20);
							min-width: vw3(20);    
						}
						svg {
							position: relative;
							width: 100%;           
						}
						&::after {
								font-size: 0;
								display: none;
						}
						&:hover {
							svg {
								path {
									stroke: rgba(248, 245, 239, 0.3);
									fill: rgba(248, 245, 239, 0.3);
								}
							}
						}
			
			
				}
				.swiper-button-prev {
					 left: 0;
			
				}
				.swiper-button-next {
						right: 0;
			
				}
			}
			// &__wrap {
			// 	position: relative;
			// 	display: flex;
			// 	justify-content: flex-start;
			// 	align-items: flex-start;
			// 	width: 100%;
			// 	overflow: hidden;
			// }
			.swiper-slide-active {
				
			}
		
		}
		&__slide {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			// height: 100%;
			flex-flow: column nowrap;
			padding-left: vw(0);
			transition: all 0.5s;
			margin-bottom: vw(20);
			@include max(md) {
				height: 100%;
			}
			picture,img {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
	
	
	
		}
		&__item-foto {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			picture,img {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}
	}
	&__swiper-buttons {
			position: absolute;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: vw(50);
			width: 100%;
			max-width: vw(100);
			top: vw(-150);
			right: vw(0);
			left: auto;
			overflow: visible;
			z-index: 15;
			@include max(md) {
					height: vw2(50);
					width: 100%;
					max-width: vw2(60);
					top: vw2(-420);
					right: vw2(0);
			}
			@include max(sm) {
				max-width: vw3(50);
				top: vw3(-300);
				right: vw3(0);
			}
			.swiper-button-prev,.swiper-button-next {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					width: vw(50);
					height: vw(50);
					min-width: vw(50);
					min-height: vw(50);
					border-radius: vw(14);
					top: 0;
					@include max(md) {
							width: vw2(20);
							min-width: vw2(20);         
					}
					@include max(sm) {
						width: vw3(20);
						min-width: vw3(20);    
					}
					svg {
						position: relative;
						width: 100%;           
					}
					&::after {
							font-size: 0;
							display: none;
					}
					&:hover {
						svg {
							path {
								stroke: rgba(248, 245, 239, 0.3);
								fill: rgba(248, 245, 239, 0.3);
							}
						}
					}
		
		
			}
			.swiper-button-prev {
				 left: 0;
		
			}
			.swiper-button-next {
					right: 0;
		
			}
		
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: column nowrap;
		width: 100%;
		height: 100%;
		&__top {
			position: relative;
			display: flex;
			justify-content: flex-start;
			flex-flow: column nowrap;
			@include max(md) {
				display: none;
			}
		}
		&__row {
			position: relative;
			display: flex;
			justify-content: flex-start;
			width: 100%;
		}
		&__num {
			display: none;
			@include max(sm) {
				display: flex;
				left: 0;
			}
		}
		&__col {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 50%;
			@include max(sm) {
				padding-left: vw3(76);
				padding-right: vw3(10);

			}
			&:nth-child(1) {
				@include max(md) {
					width: calc(100% - vw2(330));
				
				}
				@include max(sm) {
					width: 100%;
					border-bottom: 1px solid rgba(248, 245, 239, 0.2);
					padding-bottom: vw3(20);
					margin-bottom: vw3(15);
				}
			}
			&:nth-child(2) {
				@include max(md) {
					width: vw2(330);
				
				}
				@include max(sm) {
					width: 100%;
	
				}
			}
		}
		&__bottom {
			position: relative;
			display: flex;
			justify-content: space-between;
			width: 100%;
			flex-flow: column nowrap;
			.projects-single__item__row {
				justify-content: space-between;
				padding-top: vw(30);
				border-top: 1px solid rgba(248, 245, 239, 0.2);
				@include max(sm) {
					flex-flow: column nowrap;
					border-top: none;
				}
				&:first-child {
					margin-bottom: vw(90);
					@include max(md) {
						margin-bottom: vw2(75);
					}
					@include max(sm) {
						margin-bottom: vw3(50);
					}
				}
			}

		}
		&__subtitle {
			text-transform: uppercase;
			max-width: vw(250);
			@include max(md) {
				max-width: vw2(250);
			
			}
			@include max(sm) {
				max-width: vw3(250);
			
			}

		}
		&__title{
			position: relative;
			display: flex;
			width: 100%;
			max-width: vw(644);
			font-weight: 400;
		}
		&__text {
			max-width: vw(357);
			@include max(md) {
				max-width: 100%;
			
			}
		}
		&__territory {
			margin-right: vw(40);
			color: rgba(248, 245, 239, 0.4);	
			@include max(sm) {
				margin-bottom: vw3(6);
				
			}	
		}
		&__square {
				color: rgba(248, 245, 239, 0.4);
				margin-bottom: vw(40);
				margin-right: vw(15);
		}
		&__description {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			max-width: vw(423);
			@include max(md) {
				max-width: 100%;
			
			}
			ul {
				position: relative;
				display: block;
				width: 100%;
				padding-left: vw(15);
				padding-top: 0;
				margin-top: 0;
				color: rgba(248, 245, 239, 0.8);
				margin-bottom: 0px;
				@include max(md) {
					padding-left: vw2(0);
				}
				@include max(sm) {
						margin-bottom: 0px;
						padding-left: vw3(0);
				}
				li {
					position: relative;
					list-style-type: none;
					color: rgba(248, 245, 239, 0.8);
					margin-bottom: vw(20);
					&:last-child {
						margin-bottom: 0;
					}
					@include max(md) {
						margin-bottom: vw2(10);
					}
					@include max(sm) {
						margin-bottom: vw3(10);
					}
					&::before {
						content: url(../img/services-single__list__item__description.png);
						display: block;
						left: vw(-15);
						top: vw(1);
						position: absolute;
						@include max(md) {
							left: vw2(-14);
							top: vw2(1);
						}
						@include max(sm) {
							left: vw3(-10);
							top: vw3(0);
						}
					}
				}
			}
		}
	}
}
.projects-single-foto {
	&__picture  {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		border-radius: vw(5);
		overflow: hidden;
		margin-bottom: vw(250);
		@include max(md) {
			margin-bottom: vw2(200);
		}
		@include max(sm) {
			margin-bottom: vw3(140);
		}
		&--desc {
				
			@include max(md) {
				display: none;
			}
		}
		&::before {
			position: relative;
			content: "";
			width: 100%;
			padding-top: 44.46%;
			@include max(md) {
				padding-top: 47.28%;
			}
			@include max(sm) {
				padding-top: 64.61%;
			}
	}
		picture, img {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				// width: 100%;
		}
	}
}