style
	| .fullPageOverlay{
	| position: fixed;
	| top: 0;
	| left: 0;
	| width: 100%;
	| height: 100%;
	| z-index: 999999;
	| background: #003F78;
	| pointer-events: none;
	| opacity: 0;
	| will-change: opacity;
	| transform-style: preserve-3d;
	| }
	| .fullPageOverlay.fullPageOverlay--white{background: #FFFFFF;}
	| .fullPageOverlay.active{
	| opacity: 1;
	| pointer-events: auto;
	| }