form.form(action='', method='post')
	.form__content
		.form__top
			.form__title Поздравление
			.close-btn.form__close-btn
				+icon('close')
		input(type='text', name='firstname', placeholder='Имя', required)
		input(type='text', name='lastname', placeholder='Фамилия', required)
		input(type='text', name='group', placeholder='Группа  / должность  / статус', required)
		textarea(name='comment', placeholder='Текст поздравления', required)


		.form__fileblock
			#edit-field-images-ajax-wrapper
				details#edit-field-images.js-form-wrapper.form-wrapper(data-drupal-selector='edit-field-images' open='open' data-once='details')
					summary(role='button' aria-controls='edit-field-images' aria-expanded='true' aria-pressed='true')
						| Изображения
						span.summary
					.js-form-item.form-item.js-form-type-managed-file.form-item-field-images-0.js-form-item-field-images-0
						label#edit-field-images-0--label(for='edit-field-images-0-upload') Добавить новый файл
						.image-widget.js-form-managed-file.form-managed-file.clearfix
							input#edit-field-images-0-upload.js-form-file.form-file(accept='image/*' data-drupal-selector='edit-field-images-0-upload' multiple='multiple' type='file' name='files[field_images_0][]' size='22' data-once='fileValidate auto-file-upload')
							input#edit-field-images-0-upload-button.js-hide.button.js-form-submit.form-submit(data-drupal-selector='edit-field-images-0-upload-button' formnovalidate='formnovalidate' type='submit' name='field_images_0_upload_button' value='Закачать' data-once='drupal-ajax')
							input(data-drupal-selector='edit-field-images-0-weight' type='hidden' name='field_images[0][_weight]' value='0')
							input(data-drupal-selector='edit-field-images-0-fids' type='hidden' name='field_images[0][fids]')
							input(data-drupal-selector='edit-field-images-0-display' type='hidden' name='field_images[0][display]' value='1')
						#edit-field-images-0--description.description
							| Это поле позволяет загрузить неограниченное количество файлов.
							br
							| Ограничение <span>50 МБ</span>.
							br
							| Допустимые типы: <span>png gif jpg jpeg</span>.

		.form__fileblock
			#edit-field-images--h_trH13JIy8-ajax-wrapper(style='')
				details#edit-field-images--h_trH13JIy8.js-form-wrapper.form-wrapper(data-drupal-selector='edit-field-images' open='open' data-once='details')
					summary(role='button' aria-controls='edit-field-images--h_trH13JIy8' aria-expanded='true' aria-pressed='true')
						| Изображения
						span.summary
					.tabledrag-toggle-weight-wrapper(data-drupal-selector='tabledrag-toggle-weight-wrapper')
						button.link.tabledrag-toggle-weight(type='button' data-drupal-selector='tabledrag-toggle-weight') Показать вес строк
					.tableresponsive-toggle-columns
						button.link.tableresponsive-toggle(type='button' title='Показать ячейки таблицы, которые были скрыты, чтобы разместить всю таблицу на маленьком экране.' style='display: none;') Скрыть столбцы с низким приоритетом
					table#edit-field-images--h_trH13JIy8-table.responsive-enabled(data-striping='1' data-once='tabledrag tableresponsive')
						thead
							tr
								th Информация о файле
								th.tabledrag-hide(style='display: none;') Вес
								th Operations
						tbody
							tr.draggable
								td
									a.tabledrag-handle(href='#' title='Изменить порядок можно, перетащив пункт мышкой.')
										.handle
									.image-widget.js-form-managed-file.form-managed-file.clearfix
										img(data-drupal-selector='edit-field-images-0-preview' src='/system/files/styles/thumbnail/private/filefield_paths/f1.jpg?itok=fMd86wIY' width='100' height='71' alt='' loading='lazy' typeof='foaf:Image')
										input(data-drupal-selector='edit-field-images-0-fids' type='hidden' name='field_images[0][fids]' value='584')
										span.file.file--mime-image-jpeg.file--image(data-drupal-selector='edit-field-images-0-file-584-filename')
											a.menu-item__link(href='/system/files/filefield_paths/f1.jpg' type='image/jpeg') f1.jpg
										span.file-size (3.84 МБ)
										input(data-drupal-selector='edit-field-images-0-width' type='hidden' name='field_images[0][width]' value='4964')
										input(data-drupal-selector='edit-field-images-0-height' type='hidden' name='field_images[0][height]' value='3511')
										input(data-drupal-selector='edit-field-images-0-display' type='hidden' name='field_images[0][display]' value='1')
								td.tabledrag-hide(style='display: none;')
									.js-form-item.form-item.js-form-type-select.form-item-field-images-0--weight.js-form-item-field-images-0--weight.form-no-label
										label.visually-hidden(for='edit-field-images-0-weight--Wg9NZehulLM') Вес нового файла
										select#edit-field-images-0-weight--Wg9NZehulLM.edit-field-images--h_trH13JIy8-weight.form-select(data-drupal-selector='edit-field-images-0-weight' name='field_images[0][_weight]')
											option(value='-4') -4
											option(value='-3') -3
											option(value='-2') -2
											option(value='-1') -1
											option(value='0' selected='selected') 0
											option(value='1') 1
											option(value='2') 2
											option(value='3') 3
											option(value='4') 4
								td
									input#edit-field-images-0-remove-button--d5CEa9FcdYw.button.js-form-submit.form-submit(data-drupal-selector='edit-field-images-0-remove-button' formnovalidate='formnovalidate' type='submit' name='field_images_0_remove_button' value='Удалить' data-once='drupal-ajax')
							tr.draggable
								td
									a.tabledrag-handle(href='#' title='Изменить порядок можно, перетащив пункт мышкой.')
										.handle
									.image-widget.js-form-managed-file.form-managed-file.clearfix
										img(data-drupal-selector='edit-field-images-1-preview' src='/system/files/styles/thumbnail/private/filefield_paths/f1_0.jpg?itok=yatM80wx' width='100' height='71' alt='' loading='lazy' typeof='foaf:Image')
										input(data-drupal-selector='edit-field-images-1-fids' type='hidden' name='field_images[1][fids]' value='585')
										span.file.file--mime-image-jpeg.file--image(data-drupal-selector='edit-field-images-1-file-585-filename')
											a.menu-item__link(href='/system/files/filefield_paths/f1_0.jpg' type='image/jpeg') f1_0.jpg
										span.file-size (3.84 МБ)
										input(data-drupal-selector='edit-field-images-1-width' type='hidden' name='field_images[1][width]' value='4964')
										input(data-drupal-selector='edit-field-images-1-height' type='hidden' name='field_images[1][height]' value='3511')
										input(data-drupal-selector='edit-field-images-1-display' type='hidden' name='field_images[1][display]' value='1')
								td.tabledrag-hide(style='display: none;')
									.js-form-item.form-item.js-form-type-select.form-item-field-images-1--weight.js-form-item-field-images-1--weight.form-no-label
										label.visually-hidden(for='edit-field-images-1-weight--IbH0h0y9fZM') Вес нового файла
										select#edit-field-images-1-weight--IbH0h0y9fZM.edit-field-images--h_trH13JIy8-weight.form-select(data-drupal-selector='edit-field-images-1-weight' name='field_images[1][_weight]')
											option(value='-4') -4
											option(value='-3') -3
											option(value='-2') -2
											option(value='-1') -1
											option(value='0') 0
											option(value='1' selected='selected') 1
											option(value='2') 2
											option(value='3') 3
											option(value='4') 4
								td
									input#edit-field-images-1-remove-button--aupaAK-9jbU.button.js-form-submit.form-submit(data-drupal-selector='edit-field-images-1-remove-button' formnovalidate='formnovalidate' type='submit' name='field_images_1_remove_button' value='Удалить' data-once='drupal-ajax')
							tr.ajax-new-content.draggable(style='')
								td
									a.tabledrag-handle(href='#' title='Изменить порядок можно, перетащив пункт мышкой.')
										.handle
									.image-widget.js-form-managed-file.form-managed-file.clearfix
										img(data-drupal-selector='edit-field-images-2-preview' src='/system/files/styles/thumbnail/private/filefield_paths/f1_1.jpg?itok=pDfP143s' width='100' height='71' alt='' loading='lazy' typeof='foaf:Image')
										input(data-drupal-selector='edit-field-images-2-fids' type='hidden' name='field_images[2][fids]' value='586')
										span.file.file--mime-image-jpeg.file--image(data-drupal-selector='edit-field-images-2-file-586-filename')
											a.menu-item__link(href='/system/files/filefield_paths/f1_1.jpg' type='image/jpeg') f1_1.jpg
										span.file-size (3.84 МБ)
										input(data-drupal-selector='edit-field-images-2-width' type='hidden' name='field_images[2][width]' value='4964')
										input(data-drupal-selector='edit-field-images-2-height' type='hidden' name='field_images[2][height]' value='3511')
										input(data-drupal-selector='edit-field-images-2-display' type='hidden' name='field_images[2][display]' value='1')
								td.tabledrag-hide(style='display: none;')
									.js-form-item.form-item.js-form-type-select.form-item-field-images-2--weight.js-form-item-field-images-2--weight.form-no-label
										label.visually-hidden(for='edit-field-images-2-weight--7h-KUUhXaug') Вес нового файла
										select#edit-field-images-2-weight--7h-KUUhXaug.edit-field-images--h_trH13JIy8-weight.form-select(data-drupal-selector='edit-field-images-2-weight' name='field_images[2][_weight]')
											option(value='-4') -4
											option(value='-3') -3
											option(value='-2') -2
											option(value='-1') -1
											option(value='0') 0
											option(value='1') 1
											option(value='2' selected='selected') 2
											option(value='3') 3
											option(value='4') 4
								td
									input#edit-field-images-2-remove-button--peIB1EhM7es.button.js-form-submit.form-submit(data-drupal-selector='edit-field-images-2-remove-button' formnovalidate='formnovalidate' type='submit' name='field_images_2_remove_button' value='Удалить' data-once='drupal-ajax')
					.js-form-item.form-item.js-form-type-managed-file.form-item-field-images-3.js-form-item-field-images-3
						label#edit-field-images-3--jgj43oKyUz8--label(for='edit-field-images-3-upload--lBHFopLzlgo') Добавить новый файл
						.image-widget.js-form-managed-file.form-managed-file.clearfix
							input#edit-field-images-3-upload--lBHFopLzlgo.js-form-file.form-file(accept='image/*' data-drupal-selector='edit-field-images-3-upload-lbhfoplzlgo' multiple='multiple' type='file' name='files[field_images_3][]' size='22' data-once='fileValidate auto-file-upload')
							input#edit-field-images-3-upload-button--wnw_oGn9bkw.js-hide.button.js-form-submit.form-submit(data-drupal-selector='edit-field-images-3-upload-button' formnovalidate='formnovalidate' type='submit' name='field_images_3_upload_button' value='Закачать' data-once='drupal-ajax')
							input(data-drupal-selector='edit-field-images-3-weight' type='hidden' name='field_images[3][_weight]' value='3')
							input(data-drupal-selector='edit-field-images-3-fids' type='hidden' name='field_images[3][fids]')
							input(data-drupal-selector='edit-field-images-3-display' type='hidden' name='field_images[3][display]' value='1')
						#edit-field-images-3--jgj43oKyUz8--description.description
							| Это поле позволяет загрузить неограниченное количество файлов.
							br
							| Ограничение <span>50 МБ</span>.
							br
							| Допустимые типы: <span>png gif jpg jpeg</span>.

		.form__fileblock
			#ajax-wrapper--2
				.js-form-item.form-item.js-form-type-managed-file.form-item-field-video-0.js-form-item-field-video-0
					label#edit-field-video-0--label(for='edit-field-video-0-upload') Видео
					#edit-field-video-0.js-form-managed-file.form-managed-file
						input#edit-field-video-0-upload.js-form-file.form-file(data-drupal-selector='edit-field-video-0-upload' type='file' name='files[field_video_0]' size='22' data-once='fileValidate auto-file-upload')
						input#edit-field-video-0-upload-button.js-hide.button.js-form-submit.form-submit(data-drupal-selector='edit-field-video-0-upload-button' formnovalidate='formnovalidate' type='submit' name='field_video_0_upload_button' value='Закачать' data-once='drupal-ajax')
						input(data-drupal-selector='edit-field-video-0-fids' type='hidden' name='field_video[0][fids]')
						input(data-drupal-selector='edit-field-video-0-display' type='hidden' name='field_video[0][display]' value='1')
					#edit-field-video-0--description.description
						| Только один файл.
						br
						| Ограничение 50 МБ.
						br
						| Допустимые типы: mp4 mpeg4 mkw avi mov.


		.form__fileblock
			#ajax-wrapper--MxDe2VWVKb0(style='')
				.js-form-item.form-item.js-form-type-managed-file.form-item-field-video-0.js-form-item-field-video-0
					label#edit-field-video-0--ZSYeNgvEJL0--label(for='edit-field-video-0-upload---BpTvYGoAlM') Видео
					#edit-field-video-0--ZSYeNgvEJL0.js-form-managed-file.form-managed-file
						input(data-drupal-selector='edit-field-video-0-fids' type='hidden' name='field_video[0][fids]' value='591')
						span.file.file--mime-video-mp4.file--video(data-drupal-selector='edit-field-video-0-file-591-filename')
							a(href='/system/files/filefield_paths/video3_0.mp4' type='video/mp4') video3_0.mp4
						input(data-drupal-selector='edit-field-video-0-display' type='hidden' name='field_video[0][display]' value='1')
						input#edit-field-video-0-remove-button--pVpHAYB1S-A.button.js-form-submit.form-submit(data-drupal-selector='edit-field-video-0-remove-button' formnovalidate='formnovalidate' type='submit' name='field_video_0_remove_button' value='Удалить' data-once='drupal-ajax')


		.form__fileblock
			.file-loader
				.file-loader__inner
				.file-loader__status.file-loader__status--cyan
				.file-loader__status.file-loader__status--white

			.test-file-loader
				button.test-file-loader__btn(data-value="0") 0%
				button.test-file-loader__btn(data-value="5") 5%
				button.test-file-loader__btn(data-value="20") 20%
				button.test-file-loader__btn(data-value="50") 50%
				button.test-file-loader__btn(data-value="100") 100%

				style
					| .test-file-loader{display:flex} .test-file-loader__btn{margin: 10px; cursor:pointer;}

	button.form__submit(type='submit') отправить

	.form__success
		.form__success-wrap
			.form__success-content
				.form__success-content--col
					.form__success-title Ваше поздравление направлено модератору
					.form__success-text в ближайшее время  вы сможете увидеть его на сайте
				.form__success-content--col
					.form__success-link--text Если у Вас возникли проблемы с добавлением поздравления, отправьте его на почтовый адрес:
					a(href="mailto:usptu75@mail.ru").form__success-link usptu75@mail.ru

		button.form__submit.js-close-modal-form(type='button') ок
