.loader{
	height: 100vh;
	width: 100vw;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	&__back{
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $colorCyan;
		will-change: transform;
		transform-style: preserve-3d;
	}
	&__center{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		z-index: 3;
		background: $colorBlue;
		will-change: transform;
		transform-style: preserve-3d;
		img{
			width: vw(172);
			@include max(md){
				width: vw2(172);
			}
		}
	}
	&.hide{
		display: none;
	}
}

